<div class="jumbotron bg-dark" style="color:white; text-align: center;">
    <h3><i class="fa fa-video-camera" aria-hidden="true"></i> Identificación</h3>
    <hr class="my-4">
  
    <div class="card text-white bg-dark mb-3">
      <div class="card-header bg-secondary">Cámara de identificación</div>
      <video style="position: absolute; top: 0; visibility: hidden; left: 0; opacity: 0;" width="640" height="480" autoplay muted #videoContainer></video>
      <canvas width="640" height="480" class="js-canvas" #myCanvas></canvas><br>
    </div>
  
    <!-- <div class="btn-group">
      <button type="button" class="btn btn-danger" (click)="deteccion()">Detectar Rostro</button>
      <button type="button" class="btn btn-secondary" (click)="removeVideo()">Cerrar</button>
    </div> -->
  </div>
  